@charset "utf-8";

@font-face {
  font-family: "ChicaGogoNFW01";
  src: local(※), url("../font/ChicaGogoNFW01-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "GmarketSansTTFBold";
  src: local(※), url("../font/GmarketSansTTFBold.ttf") format("truetype");
}
@font-face {
  font-family: "GmarketSansTTFMedium";
  src: local(※), url("../font/GmarketSansTTFMedium.ttf") format("truetype");
}
@font-face {
  font-family: "GmarketSansTTFLight";
  src: local(※), url("../font/GmarketSansTTFLight.ttf") format("truetype");
}

html, body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  color: #fff;
  font-family: "GmarketSansTTFBold", sans-serif;
}
div, p {
  box-sizing: border-box;
  margin: 0;
}
ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}
img {
  width: 100%;
}
.font {
  font-family: "ChicaGogoNFW01", sans-serif;
}
.m-weight {
  font-family: "GmarketSansTTFMedium", sans-serif;
}
.wrap {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  min-width: 1480px;
  height: 100%;
  min-height: 100vh;
  padding: 60px 20px 60px;
  background-image: url(../img/bg.png);
  background-size: cover;
  background-position: center;
}

.title_wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.title_top {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 40px;
  width: 100%;
}
.title_logo {
  width: 150px;
  height: 150px;
}
.title_top_text {
  padding-bottom: 13px;
  font-size: 40px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -1.6px;
}
.title_bottom {
  text-align: center;
}
.title_bottom_text {
  font-size: 150px;
  line-height: 120%;
  color: #FCAF17;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #FCAF17;
}
.title_bottom_text span {
  display: inline-block;
  transform: rotate(20deg);
  margin-left: 14px;
}

.count_wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 27px;
}
.count_box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1480px;
  margin: 0 auto;
  padding: 48px 60px;
  border-radius: 28px;
  background-color: rgba(255, 255, 255, 0.10);
  box-shadow: -1px -1px 0px 0px rgba(255, 255, 255, 0.20) inset, 1px 1px 1px 0px rgba(255, 255, 255, 0.23) inset;
  backdrop-filter: blur(5px);
}
.count_tit_left {
  margin-right: 60px;
  font-size: 56px;
  font-weight: 500;
  line-height: 110%;
  text-align: right;
}
.count_num_wrap {
  display: flex;
  align-items: center;
  font-size: 120px;
  font-weight: 500;
  line-height: 130%;
}
.count_com {
  display: inline-block;
  margin: 0 4px;
  color: #FCAF17;
}
.count_num_wrap .count_num + .count_num {
  margin-left: 8px;
}
.count_num {
  position: relative;
  width: calc(140px - 4px);
  height: calc(200px - 4px);
  border-radius: 20px;
  border: 2.5px solid #292929;
  overflow: hidden;
}
/* wheel */
.count_num::before,
.count_num::after {
  content: '';
  position: absolute;
  top: 92px;
  display: block;
  width: 13px;
  height: 30.5px;
  background-image: url(../img/wheel.png);
  background-size: cover;
  background-position: center;
  z-index: 5;
}
.count_num::before {
  left: -1.6px;
}
.count_num::after {
  right: -1.6px;
}
.count_num li {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.count_num li div {
  position: absolute;
  z-index: 1;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 50%;
}
.count_num li div::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
}
.count_num .up {
  top: 0;
  transform-origin: 50% 100%;
}
.count_num .up::after {
  content: '';
  position: absolute;
  z-index: 5;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 16px);
  height: 1px;
  background-color: rgba(255, 255, 255, 0.21);
  filter: drop-shadow(0px -1px 1px rgba(0, 0, 0, 0.75));
}
.count_num .down {
  bottom: 0;
  transform-origin: 50% 0%;
}
.count_num .down .num {
  bottom: 0;
}
.count_num .num {
  position: absolute;
  left: 0;
  z-index: 1;
  display: flex;
  width: 100%;
  height: 200%;
  padding-top: 20px;
  align-items: center;
  justify-content: center;
  font-size: 148px;
  line-height: 130%;
  text-align: center;
  color: #FCAF17;
  background-color: #999;
  box-shadow: 0px 30px 30px 0px rgba(0, 0, 0, 0.90) inset, 2px 2px 60px 0px rgba(0, 0, 0, 0.80) inset, -1px -1px 0px 0px rgba(255, 255, 255, 0.00);
  background: linear-gradient(214deg, #333 17.33%, #3B3B3B 80.49%);
}
.count_num li.back {
  z-index: 3;
}
.count_num li.back .up {
  z-index: 2;
  animation: top-to-middle .2s .2s linear both;
}
.count_num li.back .up::before {
  animation: show .2s linear both;
  background: linear-gradient(to top, rgba(0, 0, 0, .1) 0%, rgba(0, 0, 0, 1) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, .1) 0%, rgba(0, 0, 0, 1) 100%);
}
.count_num li.back .down::before {
  animation: show .2s linear both;
}
.count_num li.front {
  z-index: 2;
  animation: increase-zindex .2s .2s linear forwards;
}
.count_num li.front .up::before {
  animation: hide .2s .2s linear both;
}
.count_num li.front .down {
  z-index: 2;
  animation: middle-to-bottom .2s .2s linear both;
}
.count_num li.front .down::before {
  animation: hide .2s .2s linear both;
  background: linear-gradient(to top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, .1) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, .1) 100%);
}

@keyframes increase-zindex {
  0% { z-index: 4; }
  100% { z-index: 4; }
}
@keyframes middle-to-bottom {
  0% { transform: rotateX(90deg); }
  100% { transform: rotateX(0deg); }
}
@keyframes top-to-middle {
  0% { transform: rotateX(0deg); }
  100% { transform: rotateX(90deg); }
}
@keyframes show {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes hide {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

.count_tit_right {
  margin-left: 8px;
  font-size: 80px;
  font-weight: 500;
  line-height: 130%;
}
.count_text_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  margin-top: 28px;
}
.count_text {
  display: flex;
  align-items: center;
  gap: 34px;
}
.count_text_left {
  font-size: 36px;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: -1px;
}
.count_text_right {
  display: flex;
  align-items: center;
  gap: 2px;
  font-size: 36px;
  font-weight: 500;
  line-height: 130%;
}
.count_text_right span {
  color: #FCAF17;
  font-size: 64px;
  font-weight: 500;
  line-height: 130%;
}
.count_text_line {
  width: 1px;
  height: 40px;
  background-color: #fff;
  opacity: 0.6;
}

.qr_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  width: 100%;
  margin-top: 72px;
}
.qr_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
}
.qr_img {
  width: 120px;
  height: 120px;
}
.qr_text {
  font-size: 24px;
  line-height: 120%;
  letter-spacing: -0.48px;
}
.qr_text .font {
  display: inline-block;
  margin-right: 4px;
  font-size: 28px;
  letter-spacing: 1.12px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #FFF;
}